<footer id="footer" class="footer">

    <div class="footer-content position-relative" >
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>مكتب المحامي باسم حمد</h3>
              <p>لبنان - بيروت - الطيونة - سنتر الطيونة <br>
                بلوك ب- الطابق الثاني<br><br>
                <strong>هاتف:</strong> 96103520332+<br>
                <strong>ايميل:</strong>bassem.hamad@hotmail.com<br>
              </p>
              <div class="social-links d-flex mt-3">
                <a href="https://twitter.com/BassemkHamad1" class="d-flex align-items-center justify-content-center"><i class="fa-brands fa-twitter"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100064631887437&sk=likes" class="d-flex align-items-center justify-content-center"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.instagram.com/bassem_hamad_/?hl=en" class="d-flex align-items-center justify-content-center"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/bassem-k-hamad-233574223/" class="d-flex align-items-center justify-content-center"><i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
          </div>
    

          <div class="col-lg-2 col-md-3 footer-links">
          
            <ul>
             
              <li><a href="{% url 'home' %}" class="active">{{home}}</a></li>
              <li><a href="{% url 'about' %}">{{about_me}}</a></li>
              <li><a href="{% url 'lawyer' %}">{{lawyer_info}}</a></li>
              <li><a href="{% url 'service_detials' %}">{{services_text}}</a></li>
              <li><a href="{% url 'articles_list' %}">{{article_text}}</a></li>
              <li><a href="{% url 'achievement_list' %}">{{achievement_text}}</a></li>
              <li><a href="{% url 'contact' %}">{{contact}}</a></li>
            
            </ul>
          </div><!-- End footer links column-->

       


         <!-- End footer info column-->
        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          Copyright &copy;<strong><span>Bassem Hamad</span> </strong> 
        </div>
        <div class="credits">
          Designed by <a>zainab saad</a>
        </div>
      </div>
    </div>

  </footer>