<header id="header" class="header d-flex align-items-center"  >
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'home' %}" class="logo d-flex align-items-center" >
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>{{title}}<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar" >
        <ul>
          <li><a href="{% url 'home' %}" class="active">{{home}}</a></li>
          <li><a href="{% url 'about' %}">{{about_me}}</a></li>
          <li><a href="{% url 'lawyer' %}">{{lawyer_info}}</a></li>
          <li><a href="{% url 'service_detials' %}">{{services_text}}</a></li>
          <li><a href="{% url 'articles_list' %}">{{article_text}}</a></li>
          <li><a href="{% url 'achievement_list' %}">{{achievement_text}}</a></li>
          <li><a href="{% url 'contact' %}">{{contact}}</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
